@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --black: #111111;
    --white: rgb(231, 221, 192);
    --grey: #40393934;
    --purple:  rgb(111, 104, 129);
}

@font-face {
    font-family: 'Anton', sans-serif;
    src: url('../fonts/Anton-Regular.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: var(--purple);
}

ul {
    list-style-type: none;
}

section {
    padding: 80px 0px;
}
